Add support for encrypted header extensions (RFC 6904)

So must implement [RFC 6904](https://tools.ietf.org/html/rfc6904): Encryption of Header Extensions in SRTP (required by the WebRTC  rtp-usage draft).

* Related [commit](https://github.com/cisco/libsrtp/commit/ce37ef61444400370f699c44985949ba44557d00) in libsrtp. It seems that we should include the ids of the extension to encrypt/decrypt in [new members](https://github.com/cisco/libsrtp/commit/ce37ef61444400370f699c44985949ba44557d00#diff-52656ad5144f4550955fb083943bf012R415) of the `strp_policy_t` struct:
```c
  int *enc_xtn_hdr;            /**< List of header ids to encrypt.       */
  int enc_xtn_hdr_count;       /**< Number of entries in list of header ids. */
```



Wow! in RFC 6904 [section 4](https://tools.ietf.org/html/rfc6904#section-4):

>  Thus, for example, to signal an SRTP session using encrypted SMPTE
   timecodes [RFC5484], while simultaneously signaling plaintext
   transmission time offsets [RFC5450], an SDP document could contain
   the text shown in Figure 4 (line breaks have been added for
   formatting).
>
> m=audio 49170 RTP/SAVP 0
   a=crypto:1 AES_CM_128_HMAC_SHA1_32 \
     inline:NzB4d1BINUAvLEw6UzF3WSJ+PSdFcGdUJShpX1Zj|2^20|1:32
   a=extmap:1 urn:ietf:params:rtp-hdrext:encrypt urn:ietf:params:rtp-hdrext:smpte-tc 25@600/24
   a=extmap:2 urn:ietf:params:rtp-hdrext:toffset

So changes are required in sdp-transform...

**IMPORTANT:**

Encrypted extension headers can be enabled in Chrome via the flag "Negotiation with encrypted header extensions for SRTP in WebRTC" in `chrome://flags`. If enabled, the SDP offer of Chrome looks as follows:

```
m=video 9 UDP/TLS/RTP/SAVPF 96 97 98 99 100 101 102 122 127 121 125 107 108 109 124 120 123
...
a=extmap:2 urn:ietf:params:rtp-hdrext:toffset
a=extmap:3 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time
a=extmap:4 urn:3gpp:video-orientation
a=extmap:5 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01
a=extmap:6 http://www.webrtc.org/experiments/rtp-hdrext/playout-delay
a=extmap:7 http://www.webrtc.org/experiments/rtp-hdrext/video-content-type
a=extmap:8 http://www.webrtc.org/experiments/rtp-hdrext/video-timing
a=extmap:10 http://tools.ietf.org/html/draft-ietf-avtext-framemarking-07
a=extmap:12 http://www.webrtc.org/experiments/rtp-hdrext/color-space
a=extmap:13 urn:ietf:params:rtp-hdrext:encrypt urn:ietf:params:rtp-hdrext:toffset
a=extmap:11 urn:ietf:params:rtp-hdrext:encrypt urn:3gpp:video-orientation
a=extmap:9 urn:ietf:params:rtp-hdrext:encrypt http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01
a=extmap:0 urn:ietf:params:rtp-hdrext:encrypt http://www.webrtc.org/experiments/rtp-hdrext/playout-delay
a=extmap:0 urn:ietf:params:rtp-hdrext:encrypt http://www.webrtc.org/experiments/rtp-hdrext/video-content-type
```

The `id` 0 means that an unused number should be assigned in the answer, so replying with `extmap:0` is invalid.

Some work is being done in mediasoup-client in the `encrypted-rtp-extensions` branch.

We won't do this. Nobody does this. Closing. We'll implement the ongoing [cryptex](https://github.com/juberti/cryptex) spec when done.