FIR requests should not require the "media source" SSRC

### Your environment

- mediasoup version: master


### Issue description

Incoming RTCP FIR requests are rejected by [these lines](https://github.com/versatica/mediasoup/blob/e8b7d7533ae8b61c4ca4985dde87001d45cf7f27/worker/src/RTC/Transport.cpp#L1662-L1664), because the `RTCP-PSFB media source SSRC` field value is 0.

It is correct that FIR packets have a media source = 0, because the actual media source SSRC is present inside the FIR block.

I could find a similar reasoning in GStreamer's [ChangeLog](https://gitlab.freedesktop.org/gstreamer/gst-plugins-good/blob/master/ChangeLog):

> rtpsession: Process PSFB FIR requests which lack the media ssrc
> According to RFC 5104 section 4.3.1.2, RTCP PSFB FIR message SHALL
> have a media_ssrc field set to 0. The actual media ssrc is in the FCI.
> So in that case, we ignore the retained feedback and just let it through
> to the rtp_session_process_fir() function which will check for the actual
> SSRC inside the FCI.

Attached: A Wireshark capture file with a PLI and a FIR request:

[PLI-FIR-media-source.pcapng.gz](https://github.com/versatica/mediasoup/files/3950212/PLI-FIR-media-source.pcapng.gz)

anyway, this is the text decode of those packets:

**PLI**: It gets accepted because the media source SSRC has a value:
```
Frame 1531: 82 bytes on wire (656 bits), 82 bytes captured (656 bits) on interface 0
Ethernet II, Src: 00:00:00_00:00:00 (00:00:00:00:00:00), Dst: 00:00:00_00:00:00 (00:00:00:00:00:00)
Internet Protocol Version 4, Src: 127.0.0.1, Dst: 127.0.0.1
User Datagram Protocol, Src Port: 5005, Dst Port: 63772
Real-time Transport Control Protocol (Receiver Report)
    10.. .... = Version: RFC 1889 Version (2)
    ..0. .... = Padding: False
    ...0 0000 = Reception report count: 0
    Packet type: Receiver Report (201)
    Length: 1 (8 bytes)
    Sender SSRC: 0x7a33bd70 (2050211184)
Real-time Transport Control Protocol (Source description)
    10.. .... = Version: RFC 1889 Version (2)
    ..0. .... = Padding: False
    ...0 0001 = Source count: 1
    Packet type: Source description (202)
    Length: 4 (20 bytes)
    Chunk 1, SSRC/CSRC 0x7A33BD70
        Identifier: 0x7a33bd70 (2050211184)
        SDES items
            Type: CNAME (user and domain) (1)
            Length: 8
            Text: f70e2425
            Type: END (0)
Real-time Transport Control Protocol (Payload-specific Feedback)
    10.. .... = Version: RFC 1889 Version (2)
    ..0. .... = Padding: False
    ...0 0001 = RTCP Feedback message type (FMT): Picture Loss Indication (1)
    Packet type: Payload-specific Feedback (206)
    Length: 2 (12 bytes)
    Sender SSRC: 0x7a33bd70 (2050211184)
    Media source SSRC: 0x19b76e6e (431451758) 
    [RTCP frame length check: OK - 40 bytes]
```

**FIR**: Rejected because the media source SSRC is inside a FIR block:
```
Frame 12388: 90 bytes on wire (720 bits), 90 bytes captured (720 bits) on interface 0
Ethernet II, Src: 00:00:00_00:00:00 (00:00:00:00:00:00), Dst: 00:00:00_00:00:00 (00:00:00:00:00:00)
Internet Protocol Version 4, Src: 127.0.0.1, Dst: 127.0.0.1
User Datagram Protocol, Src Port: 5005, Dst Port: 63772
Real-time Transport Control Protocol (Receiver Report)
    10.. .... = Version: RFC 1889 Version (2)
    ..0. .... = Padding: False
    ...0 0000 = Reception report count: 0
    Packet type: Receiver Report (201)
    Length: 1 (8 bytes)
    Sender SSRC: 0xcbf828ab (3422038187)
Real-time Transport Control Protocol (Source description)
    10.. .... = Version: RFC 1889 Version (2)
    ..0. .... = Padding: False
    ...0 0001 = Source count: 1
    Packet type: Source description (202)
    Length: 4 (20 bytes)
    Chunk 1, SSRC/CSRC 0xCBF828AB
        Identifier: 0xcbf828ab (3422038187)
        SDES items
            Type: CNAME (user and domain) (1)
            Length: 8
            Text: f70e2425
            Type: END (0)
Real-time Transport Control Protocol (Payload-specific Feedback)
    10.. .... = Version: RFC 1889 Version (2)
    ..0. .... = Padding: False
    ...0 0100 = RTCP Feedback message type (FMT): Full Intra Request (FIR) Command (4)
    Packet type: Payload-specific Feedback (206)
    Length: 4 (20 bytes)
    Sender SSRC: 0xcbf828ab (3422038187)
    Media source SSRC: 0x00000000 (0) 
    FIR 1
        SSRC: 0x19b76e6e (431451758)
        Command Sequence Number: 2
        Reserved: 0
    [RTCP frame length check: OK - 48 bytes]
```

Given [this](https://github.com/versatica/mediasoup/blob/e8b7d7533ae8b61c4ca4985dde87001d45cf7f27/worker/src/RTC/Transport.cpp#L1662) and given that, indeed, FIR packets do have items inside, we should check the `ssrc` in the item rather than the `media ssrc` in the FIR packet's common header.

Not sure if a FIR packet can contain 0, 1 or N FIR items inside... Can we assume just one? Anyway we should check it. If N, should we iterate all items and get the corresponding `Consumer` for each and so on?

@jmillan can you handle this?

> Not sure if a FIR packet can contain 0, 1 or N FIR items inside... Can we assume just one? Anyway we should check it. If N, should we iterate all items and get the corresponding `Consumer` for each and so on?

I believe there could be more N FIR items.

If it serves as a reference, GStreamer seems to do similar, but not exactly what you mentioned: in [rtp_session_process_fir](https://gitlab.freedesktop.org/gstreamer/gst-plugins-good/blob/b44d37a3387398a134140a4caa64919e95f7f7e3/gst/rtpmanager/rtpsession.c#L2754), they look at each FIR items' media SSRCs, searching for a corresponding source, then request key frame *only on the first found* (`fci_data` points to the very first FIR item, and `fci_length` has the total length of all items)

Relevant doc: [RFC 5104 4.3.1. Full Intra Request (FIR)](https://tools.ietf.org/html/rfc5104#section-4.3.1)

I confirm this is a bug. I've removed PLI support and tested with Firefox (since Chrome insists on sending PLI even if PLI was negotiated in the SDPs). Those are the logs in mediasoup due to FIRs sent by Firefox (note that I've added `feedback->Dump()` in Transport.cpp to dump the packet):

```
  mediasoup:worker[pid:24708] RTC::Transport::HandleRtcpPacket() | no Consumer found for received FIR Feedback packet [sender ssrc:0, media ssrc:0] +202ms

RTC::RTCP::FeedbackPs::Dump() | <FIR>
RTC::RTCP::Feedback::Dump() |   sender ssrc : 1825801961
RTC::RTCP::Feedback::Dump() |   media ssrc  : 0
RTC::RTCP::Feedback::Dump() |   size        : 20
RTC::RTCP::FeedbackPsFir::Dump() | <FeedbackPsFirItem>
RTC::RTCP::FeedbackPsFir::Dump() |   ssrc            : 152968870
RTC::RTCP::FeedbackPsFir::Dump() |   sequence number : 27
RTC::RTCP::FeedbackPsFir::Dump() | </FeedbackPsFirItem>
RTC::RTCP::FeedbackPs::Dump() | </FIR>
```

And, of course, 152968870 is the SSRC of the Consumer for Firefox. So indeed mediasoup should check the `ssrc` in **each FIR item**.

And we should also generate FIRs with an item containing the desired SSRC into the item itself. **NOTE:** We already do this properly (see comment below).

BTW this is funny because we have a hack in mediasoup to make old versions of gstreamer happy:

```c++
// Sender SSRC should be 0 since there is no media sender involved, but
// some implementations like gstreamer will fail to process it otherwise.
RTC::RTCP::FeedbackPsFirPacket packet(GetSsrc(), GetSsrc());
auto* item = new RTC::RTCP::FeedbackPsFirItem(GetSsrc(), ++this->firSeqNumber);

packet.AddItem(item);
```

Released in 3.4.3. Thanks!

I believe that hack is what came out of this conversation: https://mediasoup.discourse.group/t/broadcasting-a-vp8-rtp-stream-from-gstreamer/93

I read it yesterday; didn't mention it because it didn't seem to be related, although very close.

**Related to that conversation, and only tangential to this issue**:

In that conversation you and jmillan seemed to be convinced that mediasoup should be sending 0 as the "sender ssrc", because it is acting as recvonly, thus no RTP is flowing _out_ of mediasoup and that means mediasoup is not *a source of rtp packets*.

However, the word "sender" in that context means "*the sender of this RTCP packet*" (i.e. mediasoup), not having anything to do whith the fact of who is sending RTP to whom.

So the correct interpretation was (afaik): "media ssrc" is the ssrc that was assigned to that media by the source RTP sender; "sender ssrc" is the ssrc of the receiver of that media, who is in turn sending RTCP Receiver Report packets (and who has its own ssrc as receiver, because in a rtp session both rtp sender and receiver are expected to have their own ~unique~ ssrc).

You solved the issue thanks to sending the media ssrc in both fields (while, again, the sender ssrc should be the mediasoup's receiver ssrc), because gstreamer was looking only at the source ssrc. But in any case the source ssrc from mediasoup shouldn't have been 0 in that situation.

IMHO the RFC is far from good regarding "media SSRC" and "sender SSRC". Such a text in the spec comes from the days in which RTP was assumed for 1:1 single audio bidirectional communication.

Being pragmatic, the "ssrc" of an endpoint which is NOT sending any RTP stream (but just RTCP) is completely useless and does not make any sense. We don't need it for anything and if you are not sending any RTP stream you don't have any SSRC. Ok, the RFC may say "you have" but that's not used for anything but just for filling a useless field in RTCP packets that is not needed at all.

For instance, this is a FIR sent by Firefox to mediasoup:

```
RTC::RTCP::FeedbackPs::Dump() | <FIR>
RTC::RTCP::Feedback::Dump() |   sender ssrc : 1825801961
RTC::RTCP::Feedback::Dump() |   media ssrc  : 0
RTC::RTCP::Feedback::Dump() |   size        : 20
RTC::RTCP::FeedbackPsFir::Dump() | <FeedbackPsFirItem>
RTC::RTCP::FeedbackPsFir::Dump() |   ssrc            : 152968870
RTC::RTCP::FeedbackPsFir::Dump() |   sequence number : 66
RTC::RTCP::FeedbackPsFir::Dump() | </FeedbackPsFirItem>
RTC::RTCP::FeedbackPs::Dump() | </FIR>
```

1. It has a single item with `ssrc: 152968870`, which is the SSRC of the RTP stream that Firefox is receiving and for which it wants a key frame.
2. The common header has `sender ssrc : 1825801961`, being "1825801961" a random SSRC that nobody knows about and was just placed there by Firefox to satisfy the ugly text in RFC 3550.
   * In mediasoup we do nothing with such a `sender ssrc` value.
   * In fact, there is absolutely nothing we can do with it.

@ibc is right. Sender SSRC of a mediasoup producer stream is non existent. Is not negotiated and it is represented in RTCP packets as `0`. Others (like FF in this case) may simply invent it.

https://tools.ietf.org/html/rfc4585#section-6.1 clearly defines sender and media SSRCs.

> @ibc is right. Sender SSRC of a mediasoup producer stream is non existent. Is not negotiated and it is represented in RTCP packets as `0`. Others (like FF in this case) may simply invent it.
> 
> https://tools.ietf.org/html/rfc4585#section-6.1 clearly defines sender and media SSRCs.

That was exactly what I had in mind when writing my other message:

>   SSRC of packet sender: 32 bits
>      The synchronization source identifier for **the originator of this
>      packet**.

Implying that every peer, even one that only sends RTCP and no RTP, has a SSRC. I guess `0` is just as valid SSRC as any other value, though. But it doesn't **have** to be 0.

What it is used for, that depends on what the sender part does. mediasoup doesn't have any use for it but I guess an RTP gateway or proxy might benefit from it, something that this old RFC has to keep in mind.

But that's just a conversation that should be probably had in the forums not here, such the very similar one we've been having here (in case anyone comes reading in the future): https://mediasoup.discourse.group/t/no-producer-for-received-sdes-chunk/459

Thank you for the quick fix!