Add jitter to ReceiverReports

We read packetsLost and fractionLost from the original received RR and put them into mediasoup generated RR. We should do the same with jitter.

**NOTE:** I think this ticket may not have sense. We do include `jitter` in mediasoup generated Receiver Reports.

Some dumps of generated and received Sender Reports and Receiver Reports when there a peer is sending audio and another peer is consuming it, and also the Consumer generated stats (in Node):

```
RTC::RtpStreamRecv::GetRtcpReceiverReport() | ------ generated RR:
<ReceiverReport>
  ssrc: 3731265475
  fraction lost: 0
  total lost: 0
  last seq: 6073
  jitter: 38
  lsr: 0
  dlsr: 0
</ReceiverReport>

RTC::RtpStreamSend::GetRtcpSenderReport() | ------ generated SR:
<SenderReport>
  ssrc: 312166533
  ntp sec: 1081437
  ntp frac: 3539053051
  rtp ts: 746861046
  packet count: 28
  octet count: 5322
</SenderReport>

RTC::RtpStreamRecv::ReceiveRtcpSenderReport() | ------ received SR:
<SenderReport>
  ssrc: 3731265475
  ntp sec: 3971938123
  ntp frac: 100789997
  rtp ts: 746926662
  packet count: 145
  octet count: 20125
</SenderReport>

RTC::RtpStreamSend::ReceiveRtcpReceiverReport() | ------ received RR:
<ReceiverReport>
  ssrc: 312166533
  fraction lost: 0
  total lost: 0
  last seq: 15993
  jitter: 18
  lsr: 2153632497
  dlsr: 127865
</ReceiverReport>

--- consumer stats: [
  {
    timestamp: 1081441260,
    ssrc: 312166533,
    rtxSsrc: undefined,
    rid: undefined,
    kind: 'audio',
    mimeType: 'audio/opus',
    packetsLost: 0,
    fractionLost: 0,
    packetsDiscarded: 0,
    packetsRetransmitted: 0,
    packetsRepaired: 0,
    nackCount: 0,
    nackPacketCount: 0,
    pliCount: 0,
    firCount: 0,
    score: 10,
    roundTripTime: 0.9307861328125,
    rtxPacketsDiscarded: undefined,
    type: 'outbound-rtp',
    byteCount: 38738,
    packetCount: 200,
    bitrate: 77222
  },
  {
    timestamp: 1081441260,
    ssrc: 3731265475,
    rtxSsrc: undefined,
    rid: undefined,
    kind: 'audio',
    mimeType: 'audio/opus',
    packetsLost: 0,
    fractionLost: 0,
    packetsDiscarded: 0,
    packetsRetransmitted: 0,
    packetsRepaired: 0,
    nackCount: 0,
    nackPacketCount: 0,
    pliCount: 0,
    firCount: 0,
    score: 10,
    roundTripTime: 0.7476806640625,
    rtxPacketsDiscarded: undefined,
    type: 'inbound-rtp',
    jitter: 8,
    byteCount: 44088,
    packetCount: 252,
    bitrate: 58784,
    bitrateByLayer: {}
  }
]
```

The thing is that when Chrome sends audio, its locally generated stats do include `jitter`:

```
id: "RIA3397801462"
timestamp: 1762949975963.36
type: "remote-inbound-rtp"
codecId: "COT01_111_stereo=1;usedtx=1;useinbandfec=1"
kind: "audio"
mediaType: "audio"
ssrc: 3397801462
transportId: "T01"
jitter: 0.04
packetsLost: 0
fractionLost: 0
localId: "OT01A3397801462"
roundTripTime: 0
roundTripTimeMeasurements: 34
totalRoundTripTime: 0.05
```

And I confirm that such a `jitter: 0.04` is locally calculated by Chrome since I've hardcoded `jitter: 2000` in the Receiver Reports that mediasoup generates.

well, 0.04 is 2000 divided by the 48000khz opus clock rate [here](https://source.chromium.org/chromium/chromium/src/+/main:third_party/webrtc/modules/rtp_rtcp/include/report_block_data.cc;l=24;drc=8e3c3db1bd3da6c8949c40f2ad673183457cdbe2;bpv=0;bpt=1) but not clear to me this is what [RFC 3550 says](https://www.rfc-editor.org/rfc/rfc3550#section-6.4.1)?

> well, 0.04 is 2000 divided by the 48000khz opus clock rate [here](https://source.chromium.org/chromium/chromium/src/+/main:third_party/webrtc/modules/rtp_rtcp/include/report_block_data.cc;l=24;drc=8e3c3db1bd3da6c8949c40f2ad673183457cdbe2;bpv=0;bpt=1) but not clear to me this is what [RFC 3550 says](https://www.rfc-editor.org/rfc/rfc3550#section-6.4.1)?

So basically what libwebrtc/Chrome does doesn't make sense because it seems to compute its "sending jitter" but it should be 0 rather than any computed value. I mean, "jitter" is something to be computed at receiver side, it doesn't make sense from the sender point of view.

Said that, what I expected is that the **"remote-inbound-rtp"** stats generated by libwebrtc related to a sending track include the `jitter` received in RTCP Receiver Reports from the remote endpoint, and in this case it should be 2000 rather than 0.04... No idea what is going on here.

> Said that, what I expected is that the **"remote-inbound-rtp"** stats generated by libwebrtc related to a sending track include the `jitter` received in RTCP Receiver Reports from the remote endpoint, and in this case it should be 2000 rather than 0.04... No idea what is going on here.

Actually it could be ok. The `jitter` field in "remote-inbound-rtp" WebRTC stats is defined as follows:

> **jitter** of type double
> Packet Jitter measured in seconds for this SSRC. Calculated as defined in section 6.4.1. of [RFC3550].

This is, if the value of the `jitter` field in the Receiver Report is 2000 and the clock rate is 48000, then the jitter in seconds is literally 0.04seconds, so it's ok.

RFC 3550 defines jitter as ` measured in timestamp units`, hence the conversion.

So ok, coming back to this task, this is about including the received jitter value in the "outbound-rtp" stats of the Consumer, and for that we should just take the jitter in the last received Receiver Report.